*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --preto:       #0a0a0a;
  --branco:      #f5f0e8; /* cores mais proximas do peixudo */
  --dourado:     #c9a84c;

  --font-display: 'Bebas Neue', sans-serif;
  --font-heading: 'Playfair Display', serif;
  --font-body:    'Inter', sans-serif;
}